@import "tailwindcss";

@theme {
  --color-zinc-950: #09090b;
}

@layer utilities {
  .pb-safe {
    padding-bottom: env(safe-area-inset-bottom);
  }
  .pt-safe {
    padding-top: env(safe-area-inset-top);
  }
}

body {
  background-color: var(--color-zinc-950);
  color: #f4f4f5;
  -webkit-tap-highlight-color: transparent;
}
